Debug/
*.log
*.pdb
*.pdb
*.obj
*.cache
EncrypterClient/Debug/EncrypterClient.exe
EncrypterClient/EncrypterClient/Debug/*
EncrypterClient/EncrypterClient.VC.db
EncrypterClient/EncrypterClient.VC.VC.opendb
EncrypterServer/EncrypterServer.VC.db
EncrypterServer/EncrypterServer.VC.VC.opendb
EncrypterServer/EncrypterServer/~AutoRecover.EncrypterServer.vcxproj
EncrypterClient/EncrypterClient/EncrypterClient.vcxproj
EncrypterClient/EncrypterClient/EncrypterClient.vcxproj.filters
EncrypterServer/EncrypterServer/EncrypterServer.vcxproj
EncrypterServer/EncrypterServer/EncrypterServer.vcxproj.filters
EncrypterServer/EncrypterServer/log.txt
EncrypterServer/.vs/
ToDo.txt
EncrypterClient/EncrypterClient/input.txt
EncrypterClient/EncrypterClient/output.txt